
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #ff4c00;
    background: radial-gradient(circle, #ff4c00 0%, #b51a12 42%, #750000 100%);
    color: rgb(255, 187, 0);
    font-family: Arial;
}

body{
    padding: 0;
    margin: 0;
    border: 0;
}

header{
    background-color: white;
    padding: 2rem;
    color:black;
    border-bottom: 3px #000 solid;
}


main{
    display: block;
    padding: 5%;
}

footer{
    background-color: rgb(28, 28, 28);
    color: #750000;
    padding: 1%;
}

#hero{
    display: grid;
    padding: 3%;
    border: 15px;
    border-style: solid;
    border-color: black;
}

.speech {
    background-color:#fff;
    border:solid 2px #000;
    border-radius:12px;
    display:inline-block;
    margin:.5em;
    padding:.5em 1em;
    position:relative;
    color: #000;
  }