
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Newspaper-Cutout';
    src: url('../fonts/NewspaperCutoutWhiteOnBlac-Rg.ttf') format('truetype');
}

/*CSS RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/*VARIABLES*/
:root{
    /*COLOR*/
    --LIGHTRED: #ff4c00;
    --MIDRED: #b51a12;
    --DARKRED: #750000;
}

/*SCREEN OVERRIDES*/

/*SMALL*/
@media screen and (min-width: 576px){
   
    
}

/*MEDIUM*/
@media screen and (min-width: 768px){
    
}


/*LARGE*/
@media screen  and (min-width: 992px){
}

/*XL*/
@media screen and (min-width: 1200px){
    
}


/*GENERAL STYLING*/

html{
    border: white 0.25rem solid;
    width: 100%;
}

body{
    background: var(--LIGHTRED);
    background: radial-gradient(circle, var(--LIGHTRED) 0%, var(--MIDRED) 42%, var(--DARKRED) 100%);
    align-items: center;

    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;


    border-right: black 0.25rem solid;
    border-left: black 0.25rem solid;
    border-bottom: black 0.25rem solid;

    width: 100%;

    display: flex;
    flex-direction: column;
}


main{
    padding: 2%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    max-width: 1300px;
}

main h1{
    display: block;
    text-align: center;
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: white;
    border: black 5px solid;
    box-shadow: 5px 5px 5px black;
    width: fit-content;
    margin: 1.5rem;
    padding: 5px;
}

main h2{
    text-align: center;
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    background-color: white;
    border: black 5px solid;
    box-shadow: 5px 5px 5px black;
    width: fit-content;
    margin: 1.5rem;
    padding: 5px;

    justify-self: center;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover, a:focus{
    color: grey;
    transition: ease-in-out .4s;
}

.speech{
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: white;
    border: black 5px solid;
    border-radius: 3rem;

    height: fit-content;
}

.speech a{
    border-bottom: 1px black solid;
}

.speech a:hover, .speech a:focus{
    color: gray;
    transition:  ease-in-out .4s;
}

.nowrap{
    white-space: nowrap;
}

.image-container{
    border: black 5px solid;
    padding: 0.5rem;
    width: fit-content;
}

.image-container img{
    width: 100%;
    height: auto;

    border: black 5px solid;

    box-shadow: 5px 5px 5px black;
}
/*Header STYLING*/

header{
    background-color: white;
    align-self: center;

    width: inherit;

    position: sticky;
    top: 0;
    z-index: 2;
}


.header-selector{
    list-style-type: none;
    list-style-image: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    justify-content: center;



    border-bottom: black 0.25rem solid;
    border-top: black 0.25rem solid;
}

.header-item{
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: larger;

    text-align: center;

    color: #000;
    padding: 0.5rem;
    border-right: black 0.25rem solid;

    transform: skewX(-3deg);
}

.header-item:nth-child(1){
    border-left: #000 0.25rem solid;
}


.header-dropdown{
    display: none;

}

/*FOOTER STYLING*/

footer{
    background-color: rgb(28, 28, 28);
    color: var(--DARKRED);
    width: 100%;
    border-top: 5px var(--DARKRED) solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: large;
}

footer h2{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: larger;
}

footer a{
    color: lightgray;
}

.footer-copyright{
    font-family:'East Sea Dokdo', cursive;
    color: white;
    font-size: medium;
}

.footer-social{
    width: fit-content;
    height: inherit;
    align-items: center;
    text-align: center;
}

.footer-icons{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: fit-content;
    width: auto;
}

.footer-icons li {
    margin: 0.5rem;
    font-size: 2rem;
}

#footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

/*HERO STYLING*/

.hero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;

    flex-shrink: 1 1 1000px;
}

.hero img{
    width: min(20%, 500px);
    margin: 2rem;
    height: fit-content;

    background: var(--LIGHTRED);
    background: radial-gradient(circle, var(--LIGHTRED) 0%, var(--MIDRED) 42%, var(--DARKRED) 100%);
    
    padding: 1%;
    border: white 0.5rem solid;
    outline: black 0.5rem solid;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem 5px black;

    overflow: visible;
}

.hero .speech{
    width: min(70%, 900px);
    box-shadow: 5px 5px 5px black;
}
/*PROJECT STYLING*/

#project-list{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-view{
    display: flex;
    width: inherit;

    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px black;

    background-color: white;
    border: black 5px solid;
}

.project-view:nth-child(even){
    flex-direction: row-reverse;
}

.project-info{
    padding: 1rem;
    border: black 5px solid;
    max-width: 68%;

}

.project-title{
    display: block;
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: max(50px, 5vh);
    margin-bottom: 1rem;
}

.project-description{
    margin: 1rem;
    text-align: justify;
    font-size: max(2vh, 1.5rem);
}

.project-description ul{
    margin-left: 3rem;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: center;
    list-style: none;
    width: fit-content;

    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.project-link{
    width: fit-content;
    min-width: 10rem;
    height: auto;
    flex-shrink: 1 1 200px;

    align-items: center;

    padding: 5px;
    border: 5px solid black;
    border-radius: 100px;
}

.project-link:hover{
    background-color: gray;
    transition:  ease-in-out .4s;
}

.project-link a{
    margin: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1 1 200px;
    gap: 0.5rem;

    text-decoration: none;
    cursor: pointer;
    color: black;
}

.project-link a i{
    font-size: 2rem;
}


/*VIDEOS STYLING*/

#video-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 1rem;
}

.video-container{
    display: flex;
    flex-direction: column;

    width: 300px;

    height: fit-content;

    padding: 1%;

    background-color: white;

    box-shadow: 5px 5px 5px black;
    border: black 5px solid;
}

.video-container .image-container{
    width: 100%;
}

.video-info{
    border-right: black 5px solid;
    border-left: black 5px solid;
    border-bottom: black 5px solid;

    flex-shrink: 1 1 100%;

    padding: 5%;
}

.video-title{
    font-size: max(2rem ,4vh);
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;
}

.video-description{
    font-size: max(1rem ,2vh);
    text-align: justify;
}

.video-description a{
    background: black;
    color: white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 50%;
}

/*ABOUT STYLING*/

.about-entry{

    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.about-entry::after{
    content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 5px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.about-entry h2{
    margin: 0;
}

/* The actual timeline (the vertical ruler) */

.about{
    align-self: center;
    align-items: center;
    max-width: 1300px;
}

.about-skills{
    display: flex;
    align-items: flex-center;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-list{
    margin: 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    width: 50%;
}

.skill-list li{
    border: 2px solid black;
    background-color: white;
    border-radius: 10%;
    width: fit-content;
    height: auto;
    margin: 0.5rem;
    padding: 0.25rem;
}

.about-skills h3{
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
    padding: 0.5rem;
    font-family: 'Newspaper-Cutout', Impact, 'Arial Narrow Bold', sans-serif;;
    width: fit-content;
}

.about-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    list-style: none;
  }
  
  /* The actual timeline (the vertical ruler) */
  .about-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 5px 5px 5px black;
  }

  /* Place the container to the left */
.left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 5px solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  .about-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
  }

  .about-content{
    justify-self: center;
  }
  
  .about-languages .about-content{
    margin: 1rem;
    width: fit-content;
    padding: .5rem;
  }

  .title h3{
    border-bottom: black dotted 2px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    }
  
